@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Invoices Chart</h1>
</div>

<div>
    <canvas id="myChart"></canvas>
</div>

@section Scripts{

    <script>

        const labels = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
            'July',
            'August',
            'September',
            'October',
            'November',
            'December'
        ];

        const data = {
            labels: labels,
            datasets: [
                {
                    label: "Revenue",
                    backgroundColor: "rgb(255,99,132)",
                    borderColor: "rgb(255,99,132)",
                    data: @Json.Serialize(Model.revenue)
                }
            ]
        };

        const config = {
            type: 'line',
            data: data,
            options: {}
        };

        const myChart = new Chart(
            document.getElementById("myChart"),
            config
        );

    </script>
}