@page
@using InvoiceManagement.Authorization
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Invoices Chart</h1>
</div>

<div>
    @if (User.IsInRole(Constants.InvoiceAdminRole))
    {
        <canvas id="myChart"></canvas>
    }
    else
    {
        <h3 class="text-danger text-center">Only Admin Can See The Graph.</h3>
    }
</div>

@section Scripts{

    <script>

        const labels = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
            'July',
            'August',
            'September',
            'October',
            'November',
            'December'
        ];

        const data = {
            labels: labels,
            datasets: [
                {
                    label: "Submitted Revenues",
                    backgroundColor: "rgb(111, 110, 118)",
                    borderColor: "rgb(111, 110, 118)",
                    cubicInterpolationMode:"monotone",
                    data: @Json.Serialize(Model.revenueSubmitted)
                },
                {
                    label: "Approved Revenues",
                    backgroundColor: "rgb(9, 182, 131)",
                    borderColor: "rgb(9, 182, 131)",
                    cubicInterpolationMode:"monotone",
                    data: @Json.Serialize(Model.revenueApproved)
                },
                {
                    label: "Rejected Revenues",
                    backgroundColor: "rgb(240, 93, 105)",
                    borderColor: "rgb(240, 93, 105)",
                    cubicInterpolationMode:"monotone",
                    data: @Json.Serialize(Model.revenueRejected)
                }
            ]
        };

        const config = {
            type: 'line',
            data: data,
            options: {}
        };

        const myChart = new Chart(
            document.getElementById("myChart"),
            config
        );

    </script>
}